@page "/logout"
@using WebApp.Application.Services.Interfaces

@inject NavigationManager NavigationManager
@inject IIdentityService IdentityService

<div class="logout-container">
    <RadzenCard Style="text-align: center; padding: 2rem;">
        <RadzenHeading Size="H5">Çıkış yapılıyor...</RadzenHeading>
        <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" Style="width: 100%; margin-top: 1rem;" />
    </RadzenCard>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        IdentityService.Logout(); // örnek logout işlemi
        await Task.Delay(1000); // animasyon görünsün diye kısa gecikme
        NavigationManager.NavigateTo("/login", true);
    }
}
